%li.list-group-item


  -# Answer Body
  %p.card-text.mb-0= answer.content

  -# Answer Footer
  %footer.text-muted
    %span
      = link_to answer.user.name, answer.user
      \/
      = "answerd #{answer.created_at.strftime('%F %R')}"
      -# Best Answer Tag Block
      \/
      .best_answer_tag
        %span Best Answer
        .best_answer_stars
          = fa_icon("star")
          = fa_icon("star")
          = fa_icon("star")
