%li.list-group-item
  -# Answer Header
  %h6.card-subtitle.text-muted.mt-1.mb-2
    %span
      = link_to answer.user.name, answer.user
      \/
      = "answerd #{answer.created_at.strftime('%F %R')}"

  -# Answer Body
  %p.card-text.mb-0= answer.content

  -# Choosing the Best Answer Block
  - if !is_question_resolved && current_user == answer.question.user
    .float-right
      = form_with(url: answer_path, scope: :answer, local: true, method: :put) do |f|
        = f.hidden_field :best, value: true
        = f.hidden_field :question_id, value: answer.question_id
        = f.submit "Choose the Best Answer", class: "btn btn-outline-success btn-sm"
