%li.list-group-item
  -# Answer Body
  %p.card-text.mb-0= answer.content

  -# Answer Footer
  %footer.text-muted.other-answer-footer
    %span
      = link_to answer.user.name, answer.user
      \/
      = "answerd #{answer.created_at.strftime('%F %R')}"
      - if !is_question_resolved && answer.user == current_user
        \/
        = link_to fa_icon("trash", class: "text-muted"), answer, method: :delete, data: { confirm: "Would you like to delete it?" }
      -# Choosing the Best Answer Block
      - if !is_question_resolved && current_user == answer.question.user
        \/
        = link_to fa_icon("star", class: "text-muted"), question_best_answer_path(question_id: answer.question,id: answer.id),　method: :put, data: { confirm: "Would you choose it as your best answer?" }
