.max-width-34.mx-auto

  .card
    .card-body
      %h3.card-title= @question.title
      %h6.card-subtitle.text-muted.mb-2
        %span
          = link_to @question.user.name, @question.user
          \/
          = "asked #{@question.created_at.strftime('%F %R')}"
      %p.card-text= @question.content

  %br
  %h5= pluralize(@question.answers.count, "Answer")
  %ul.list-group
    = render partial: "answer", collection: @answers

  %br
  - if logged_in?
    %h5 Your Answer
    = form_with(url: answers_path, scope: :answer, local: true) do |f|
      .form-group
        = f.text_area :content, rows: 5, class: "form-control"
      = f.hidden_field :question_id, value: @question.id
      = f.hidden_field :user_id, value: current_user.id
      = f.submit "Post", class: "btn btn-primary"
  - else
    %h5= link_to "Log in to Answer", new_session_path(redirect_back: request.original_fullpath)
