- breadcrumb :question, @question
%br/

.max-width-34.mx-auto.question-page
  -# Question Block
  .card
    .card-body
      - if @question.resolved
        .tag.bg-warning.mb-3 Resolved
      - else
        .tag.bg-dark.mb-3 Unresolved
      %h4.card-title= @question.title
      %p.card-text= @question.content
      %footer.text-muted
        %span
          = link_to @question.user.name, @question.user
          \/
          = "asked #{@question.created_at.strftime('%F %R')}"
          - if @question.answers.count == 0 && @question.user == current_user
            \/
            = link_to fa_icon("trash", class: "text-muted"), @question, method: :delete, data: { confirm: "Would you like to delete it?" }

  -# Answers Block
  %br
  %h5= pluralize(@question.answers.count, "Answer")
  %ul.list-group
    - if @question.resolved
      = render partial: "best_answer", object: @best_answer, as: :answer
      = render partial: "other_answer", collection: @other_answers, as: :answer, locals: { is_question_resolved: true }
    - else
      = render partial: "other_answer", collection: @other_answers, as: :answer, locals: { is_question_resolved: false }

  -# Answer Form Block
  %br
  - if !@question.resolved
    - if logged_in?
      %h5 Your Answer
      = form_with(url: answers_path, scope: :answer, local: true) do |f|
        .form-group
          = f.text_area :content, rows: 5, class: "form-control content-area"
        = f.hidden_field :question_id, value: @question.id
        = f.submit "Post", class: "btn btn-primary post-button"
    - else
      %h5= link_to "Log in to Answer", new_session_path(redirect_back: request.original_fullpath)

:javascript
  $(document).ready(function(){
    $('.post-button').prop('disabled', true)
    $('.content-area').keyup(function(){
      $('.post-button').prop('disabled', this.value == "" ? true : false)
    })
  })
