<div class="questions-show-page">
  <%= render partial: "question", object: @question %>
  <h3><%= pluralize(@question.answers.count, 'Answer') %></h3>
  <%= render partial: "answer", collection: @question.answers %>
  <% if logged_in? %>
    <%= render partial: "answer_form" %>
  <% else %>
    <h3>
      <%= link_to "Log in to Answer", login_path(forwarding_url: request.original_url) %>
    </h3>
  <% end %>
</div>
