.max-width-24.mx-auto
  %h1.text-center Sign up
  = form_with(model: @user, local: true) do |f|
    = render 'shared/error_messages', object: f.object
    .form-group
      = f.label :name
      = f.text_field :name, class: "form-control"
    .form-group
      = f.label :password
      = f.password_field :password, class: "form-control"
    .form-group
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: "form-control"
    = hidden_field_tag "redirect_back", params[:redirect_back]
    = f.submit "Sign up", class: "btn btn-primary"
  %br
  Already have an account?
  = link_to "Log in", new_session_path(redirect_back: params[:redirect_back])
