<div class="container max-width-24">
  <h1>Sign up</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :pasword_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= hidden_field_tag 'redirect_back', params[:redirect_back] %>

    <%= f.submit "Sign up", class: "btn btn-primary" %>
  <% end %>
  <br>
  Already have an account?
  <%= link_to 'Log in', login_path(redirect_back: params[:redirect_back]) %>
</div>
