<nav class="navbar navbar-default">
  <div class="container header__nav">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Home", root_path %></li>
    </ul>
    <% if logged_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My page", current_user %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
      </ul>
    <% end %>
  </div>
</nav>
