<!DOCTYPE html>
<html>
  <head>
    <title>ChiebukuroCloneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="centering-div max-width-44">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
